In [79]:
import pandas as pd
import hashlib
import random
import string
import os, datetime
import uuid

In [24]:
d0 = pd.read_csv('Sales.csv')
d0.head()

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Central America and the Caribbean,Antigua and Barbuda,Baby Food,Online,M,12/20/2013,957081544,1/11/2014,552,255.28,159.42,140914.56,87999.84,52914.72
1,Central America and the Caribbean,Panama,Snacks,Offline,C,7/5/2010,301644504,7/26/2010,2167,152.58,97.44,330640.86,211152.48,119488.38
2,Europe,Czech Republic,Beverages,Offline,C,9/12/2011,478051030,9/29/2011,4778,47.45,31.79,226716.10,151892.62,74823.48
3,Asia,North Korea,Cereal,Offline,L,5/13/2010,892599952,6/15/2010,9016,205.70,117.11,1854591.20,1055863.76,798727.44
4,Asia,Sri Lanka,Snacks,Offline,C,7/20/2015,571902596,7/27/2015,7542,152.58,97.44,1150758.36,734892.48,415865.88

In [25]:
d1 = d0[['Region', 'Country', 'Sales Channel', 'Order Date','Order ID', 'Total Revenue']].dropna()
display(d1.head())

,Region,Country,Sales Channel,Order Date,Order ID,Total Revenue
0,Central America and the Caribbean,Antigua and Barbuda,Online,12/20/2013,957081544,140914.56
1,Central America and the Caribbean,Panama,Offline,7/5/2010,301644504,330640.86
2,Europe,Czech Republic,Offline,9/12/2011,478051030,226716.10
3,Asia,North Korea,Offline,5/13/2010,892599952,1854591.20
4,Asia,Sri Lanka,Offline,7/20/2015,571902596,1150758.36

In [38]:
tmplist = list(set(d1['Country']))

In [39]:
mapping1 = {i : (''.join(random.choice(string.hexdigits) for i in range(12)))+i+(''.join(random.choice(string.hexdigits) for i in range(12)))  for i in tmplist}

In [40]:
d2 = d1.copy()

In [42]:
d2['Hash'] = [mapping1[i] for i in d2['Country']]
display(d2.head())

,Region,Country,Sales Channel,Order Date,Order ID,Total Revenue,Hash
0,Central America and the Caribbean,Antigua and Barbuda,Online,12/20/2013,957081544,140914.56,E8cdEb6F6B44Antigua and Barbuda 2a53D6D0a8F2
1,Central America and the Caribbean,Panama,Offline,7/5/2010,301644504,330640.86,B01121e2CcBfPanama8e8ECAa1DB9f
2,Europe,Czech Republic,Offline,9/12/2011,478051030,226716.10,AFf57Bcc3B1ECzech Republicc006a66127d3
3,Asia,North Korea,Offline,5/13/2010,892599952,1854591.20,C9DFEB6cCcacNorth Koreab70b5A3d0ce4
4,Asia,Sri Lanka,Offline,7/20/2015,571902596,1150758.36,3ca3AbeCA193Sri LankaE6ceEBebEB09

In [45]:
d2['NewHash'] = [hashlib.sha1(str.encode(str(i))).hexdigest() for i in d2['Hash']]
display(d2.head())

,Region,Country,Sales Channel,Order Date,Order ID,Total Revenue,Hash,NewHash
0,Central America and the Caribbean,Antigua and Barbuda,Online,12/20/2013,957081544,140914.56,E8cdEb6F6B44Antigua and Barbuda 2a53D6D0a8F2,faf6e23e3fb7224b96099cd93b4699229c6d7bac
1,Central America and the Caribbean,Panama,Offline,7/5/2010,301644504,330640.86,B01121e2CcBfPanama8e8ECAa1DB9f,5ac7a3538f9656943dd8de2e41f1319c2a8f849d
2,Europe,Czech Republic,Offline,9/12/2011,478051030,226716.10,AFf57Bcc3B1ECzech Republicc006a66127d3,065bba52481ef28d592516b56a4ade4bef2e5fd7
3,Asia,North Korea,Offline,5/13/2010,892599952,1854591.20,C9DFEB6cCcacNorth Koreab70b5A3d0ce4,8c80899dfa66812a85effa63bb12ce965470f1e0
4,Asia,Sri Lanka,Offline,7/20/2015,571902596,1150758.36,3ca3AbeCA193Sri LankaE6ceEBebEB09,945b8fd2e5b3f577edcf50da94316e8a22ae1c08

In [46]:
d2.head()

,Region,Country,Sales Channel,Order Date,Order ID,Total Revenue,Hash,NewHash
0,Central America and the Caribbean,Antigua and Barbuda,Online,12/20/2013,957081544,140914.56,E8cdEb6F6B44Antigua and Barbuda 2a53D6D0a8F2,faf6e23e3fb7224b96099cd93b4699229c6d7bac
1,Central America and the Caribbean,Panama,Offline,7/5/2010,301644504,330640.86,B01121e2CcBfPanama8e8ECAa1DB9f,5ac7a3538f9656943dd8de2e41f1319c2a8f849d
2,Europe,Czech Republic,Offline,9/12/2011,478051030,226716.10,AFf57Bcc3B1ECzech Republicc006a66127d3,065bba52481ef28d592516b56a4ade4bef2e5fd7
3,Asia,North Korea,Offline,5/13/2010,892599952,1854591.20,C9DFEB6cCcacNorth Koreab70b5A3d0ce4,8c80899dfa66812a85effa63bb12ce965470f1e0
4,Asia,Sri Lanka,Offline,7/20/2015,571902596,1150758.36,3ca3AbeCA193Sri LankaE6ceEBebEB09,945b8fd2e5b3f577edcf50da94316e8a22ae1c08

In [58]:
d2.drop('Date Time', inplace=True, axis=1)

In [59]:
d2.head()

,Region,Country,Sales Channel,Order Date,Order ID,Total Revenue,NewHash
0,Central America and the Caribbean,Antigua and Barbuda,Online,12/20/2013,957081544,140914.56,faf6e23e3fb7224b96099cd93b4699229c6d7bac
1,Central America and the Caribbean,Panama,Offline,7/5/2010,301644504,330640.86,5ac7a3538f9656943dd8de2e41f1319c2a8f849d
2,Europe,Czech Republic,Offline,9/12/2011,478051030,226716.10,065bba52481ef28d592516b56a4ade4bef2e5fd7
3,Asia,North Korea,Offline,5/13/2010,892599952,1854591.20,8c80899dfa66812a85effa63bb12ce965470f1e0
4,Asia,Sri Lanka,Offline,7/20/2015,571902596,1150758.36,945b8fd2e5b3f577edcf50da94316e8a22ae1c08

In [60]:
d2.insert(6, column = "Date Time", value=datetime.datetime.now())
d2.insert(7, column = "ProcessIdentifier", value="")

In [61]:
d2.head()

,Region,Country,Sales Channel,Order Date,Order ID,Total Revenue,Date Time,ProcessIdentifier,NewHash
0,Central America and the Caribbean,Antigua and Barbuda,Online,12/20/2013,957081544,140914.56,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,faf6e23e3fb7224b96099cd93b4699229c6d7bac
1,Central America and the Caribbean,Panama,Offline,7/5/2010,301644504,330640.86,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,5ac7a3538f9656943dd8de2e41f1319c2a8f849d
2,Europe,Czech Republic,Offline,9/12/2011,478051030,226716.10,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,065bba52481ef28d592516b56a4ade4bef2e5fd7
3,Asia,North Korea,Offline,5/13/2010,892599952,1854591.20,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,8c80899dfa66812a85effa63bb12ce965470f1e0
4,Asia,Sri Lanka,Offline,7/20/2015,571902596,1150758.36,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,945b8fd2e5b3f577edcf50da94316e8a22ae1c08

In [63]:
d2=d2.rename(columns={"NewHash": "RowHash"})
d2.head()

,Region,Country,Sales Channel,Order Date,Order ID,Total Revenue,Date Time,ProcessIdentifier,RowHash
0,Central America and the Caribbean,Antigua and Barbuda,Online,12/20/2013,957081544,140914.56,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,faf6e23e3fb7224b96099cd93b4699229c6d7bac
1,Central America and the Caribbean,Panama,Offline,7/5/2010,301644504,330640.86,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,5ac7a3538f9656943dd8de2e41f1319c2a8f849d
2,Europe,Czech Republic,Offline,9/12/2011,478051030,226716.10,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,065bba52481ef28d592516b56a4ade4bef2e5fd7
3,Asia,North Korea,Offline,5/13/2010,892599952,1854591.20,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,8c80899dfa66812a85effa63bb12ce965470f1e0
4,Asia,Sri Lanka,Offline,7/20/2015,571902596,1150758.36,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,945b8fd2e5b3f577edcf50da94316e8a22ae1c08

In [64]:
d2

,Region,Country,Sales Channel,Order Date,Order ID,Total Revenue,Date Time,ProcessIdentifier,RowHash
0,Central America and the Caribbean,Antigua and Barbuda,Online,12/20/2013,957081544,140914.56,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,faf6e23e3fb7224b96099cd93b4699229c6d7bac
1,Central America and the Caribbean,Panama,Offline,7/5/2010,301644504,330640.86,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,5ac7a3538f9656943dd8de2e41f1319c2a8f849d
2,Europe,Czech Republic,Offline,9/12/2011,478051030,226716.10,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,065bba52481ef28d592516b56a4ade4bef2e5fd7
3,Asia,North Korea,Offline,5/13/2010,892599952,1854591.20,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,8c80899dfa66812a85effa63bb12ce965470f1e0
4,Asia,Sri Lanka,Offline,7/20/2015,571902596,1150758.36,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,945b8fd2e5b3f577edcf50da94316e8a22ae1c08
...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Offline,4/3/2015,217984473,3545172.35,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,b3e6d0f25de3cf8997c52e8f58f62d2028b1cc27
4996,Middle East and North Africa,Azerbaijan,Offline,8/17/2014,169748055,117694.56,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,96b1be95e7d78802162ad37ba4e734735cf58684
4997,Asia,Myanmar,Offline,11/23/2016,226939189,1328477.12,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,2993fc183ed8289c8f5bdf08aa814a39c7cd7bda
4998,Europe,Finland,Online,4/22/2014,906794202,1028324.80,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,2e315729ca726f40438147782199675a8bc94bf8
4999,Sub-Saharan Africa,Tanzania,Online,7/8/2011,996861922,377447.00,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,7b0b2a6679dc6cc8de843196ed7dc1c421341f88

In [77]:
d2

,Region,Country,Sales Channel,Order Date,Order ID,Total Revenue,Date Time,ProcessIdentifier,RowHash
0,Central America and the Caribbean,Antigua and Barbuda,Online,12/20/2013,957081544,140914.56,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,faf6e23e3fb7224b96099cd93b4699229c6d7bac
1,Central America and the Caribbean,Panama,Offline,7/5/2010,301644504,330640.86,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,5ac7a3538f9656943dd8de2e41f1319c2a8f849d
2,Europe,Czech Republic,Offline,9/12/2011,478051030,226716.10,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,065bba52481ef28d592516b56a4ade4bef2e5fd7
3,Asia,North Korea,Offline,5/13/2010,892599952,1854591.20,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,8c80899dfa66812a85effa63bb12ce965470f1e0
4,Asia,Sri Lanka,Offline,7/20/2015,571902596,1150758.36,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,945b8fd2e5b3f577edcf50da94316e8a22ae1c08
...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Offline,4/3/2015,217984473,3545172.35,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,b3e6d0f25de3cf8997c52e8f58f62d2028b1cc27
4996,Middle East and North Africa,Azerbaijan,Offline,8/17/2014,169748055,117694.56,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,96b1be95e7d78802162ad37ba4e734735cf58684
4997,Asia,Myanmar,Offline,11/23/2016,226939189,1328477.12,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,2993fc183ed8289c8f5bdf08aa814a39c7cd7bda
4998,Europe,Finland,Online,4/22/2014,906794202,1028324.80,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,2e315729ca726f40438147782199675a8bc94bf8
4999,Sub-Saharan Africa,Tanzania,Online,7/8/2011,996861922,377447.00,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,7b0b2a6679dc6cc8de843196ed7dc1c421341f88

In [84]:
display(d2)

,Region,Country,Sales Channel,Order Date,Order ID,Total Revenue,Date Time,ProcessIdentifier,RowHash
0,Central America and the Caribbean,Antigua and Barbuda,Online,12/20/2013,957081544,140914.56,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,faf6e23e3fb7224b96099cd93b4699229c6d7bac
1,Central America and the Caribbean,Panama,Offline,7/5/2010,301644504,330640.86,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,5ac7a3538f9656943dd8de2e41f1319c2a8f849d
2,Europe,Czech Republic,Offline,9/12/2011,478051030,226716.10,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,065bba52481ef28d592516b56a4ade4bef2e5fd7
3,Asia,North Korea,Offline,5/13/2010,892599952,1854591.20,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,8c80899dfa66812a85effa63bb12ce965470f1e0
4,Asia,Sri Lanka,Offline,7/20/2015,571902596,1150758.36,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,945b8fd2e5b3f577edcf50da94316e8a22ae1c08
...,...,...,...,...,...,...,...,...,...
4995,Australia and Oceania,New Zealand,Offline,4/3/2015,217984473,3545172.35,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,b3e6d0f25de3cf8997c52e8f58f62d2028b1cc27
4996,Middle East and North Africa,Azerbaijan,Offline,8/17/2014,169748055,117694.56,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,96b1be95e7d78802162ad37ba4e734735cf58684
4997,Asia,Myanmar,Offline,11/23/2016,226939189,1328477.12,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,2993fc183ed8289c8f5bdf08aa814a39c7cd7bda
4998,Europe,Finland,Online,4/22/2014,906794202,1028324.80,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,2e315729ca726f40438147782199675a8bc94bf8
4999,Sub-Saharan Africa,Tanzania,Online,7/8/2011,996861922,377447.00,2021-09-07 14:47:22.779100,68c8df13-0fbc-11ec-90cc-cb1713e00b94,7b0b2a6679dc6cc8de843196ed7dc1c421341f88